extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Sed condimentum elit id luctus pharetra. Suspendisse ullamcorper, nibh vehicula interdum vestibulum, dolor ex malesuada orci, sed tincidunt neque mauris dapibus justo. Sed cursus dignissim lorem. Vivamus ac dui sed orci hendrerit facilisis. Suspendisse ut aliquet dui. Aenean vitae turpis vel ex tempus ullamcorper eget quis diam.
                p In vestibulum leo sem, at tempus massa consectetur eu. Suspendisse efficitur lacus turpis, aliquet euismod nisi maximus at. Pellentesque libero tortor, placerat quis ex ac, tincidunt congue turpis.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Nosotros Image", class="img-fluid")

        h2.text-center.mb-5 Algunos destinos
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $3,000 USD
                .col-md-6
    
    .container 
        h2.text-center.mt-5 Testimoniales
        include ./layout/bloque_testimoniales