extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="About Us Image", class="img-fluid")
            .col-md-7.mt-3.mt-md-0
                h1.text-center.text-md-left #{pagina}
                blockquote Phasellus leo est, tincidunt nec lacinia ac, fringilla sed ex. Nullam sagittis elit vitae purus pulvinar, et mollis sem sagittis. Praesent convallis tellus sit amet nisi sagittis, a venenatis orci pulvinar. Curabitur vel egestas neque. 

                p Suspendisse potenti. Sed tincidunt eu ex a tincidunt. Morbi vitae felis vitae odio iaculis vehicula. Morbi pulvinar eget justo a lacinia. Nunc porta ante et quam imperdiet porttitor. Curabitur at felis euismod, laoreet turpis nec, dictum sem. Vestibulum non lacus at felis blandit malesuada. Pellentesque vitae vulputate lectus, eget consectetur massa. Sed tempus id ante vitae aliquam.

                p Fusce et nulla id magna malesuada imperdiet. Nunc pulvinar neque non risus rhoncus tempus. Quisque laoreet diam odio, sed aliquet turpis dignissim id. Duis feugiat vestibulum dui, ut condimentum mauris egestas ut. Morbi pharetra interdum nisl, in posuere lectus malesuada sed. Morbi ligula nibh, fermentum eu accumsan quis, bibendum vitae ante. 
    
    .listado-iconos
        .container.my-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad Garantizada
                    p Eos delectus quo eligendi veritatis rerum ipsa, architecto repellat placeat nostrum tempore. Molestiae dignissimos labore eaque ipsa obcaecati, ipsum eos mollitia facilis.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Eos delectus quo eligendi veritatis rerum ipsa, architecto repellat placeat nostrum tempore. Molestiae dignissimos labore eaque ipsa obcaecati, ipsum eos mollitia facilis.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Eos delectus quo eligendi veritatis rerum ipsa, architecto repellat placeat nostrum tempore. Molestiae dignissimos labore eaque ipsa obcaecati, ipsum eos mollitia facilis.
                    
